$colorDot: #D4AF37//rgba(#F9E011, 0.7) 
header
	background: url("../img/foto2.jpg")
	background-position: center 0 
	background-size: cover
	height: 700px
	.contenedor
		margin: auto
		.contenedor-header
			.contenedor-nav
				width: 100%
				display: flex
				flex-direction: row
				justify-content: space-between
				background: rgba(0,0,0,0.9)
				.nombre
					margin: auto
					a
						color: #ccc
						font-size: 40px
						text-decoration: none
						
				.nav
					&__item
						text-decoration: none
						color: #ccc
						font-size: 16px
						font-weight: 400 
						font-family: "Russo One"
						padding: 25px 15px
						
						&:hover
							background: #ccc
							color: #000
							font-weight: 400
							transition-duration: 1s 
							transition-timing-function: ease
							-webkit-transition-duration: 1s 
							-webkit-transition-timing-function: ease  
		.texto-logo
			height: auto
			padding: 30px
			margin: auto
			margin-top: 200px	
			text-align: center
			overflow: hiden
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column
			background: rgba(#111, .5)
			border: 0.5px solid #222
			

			.titulo
				font-size: 60px
				color: $colorDot
			
			.ciudad
				font-size: 30px
				color: $colorDot
			
							